extends ../layout

block content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href=`/offers/add`)
          span Новая публикация
      ul
        each offer in offers
          li.tickets-list__item
            .ticket-card(class=`ticket-card--color${offer.colorIndex}`)
              .ticket-card__img
                img(src=`/img/${offer.picture}`, srcset=`/img/${offer.retinaPicture} 2x`, alt=offer.title)
              .ticket-card__info
                +ticketLabel(offer.type)
                .ticket-card__categories
                  each category in offer.categories
                    a(href=`#!`) #{category.name}
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`#!`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.outputPrice}
                    |  ₽
                .ticket-card__desc
                  p #{offer.description}
