extends ../layout

block content
  section.sign-up
    form.sign-up__form.form(action=`/register`, method=`post`, enctype=`multipart/form-data`, autocomplete=`off`, style=`height: auto`)
      .sign-up__title
        h2 Регистрация
        a.sign-up__link(href=`/login`) Вход
      .sign-up__avatar-container.js-preview-container
        .sign-up__avatar.js-preview
        .sign-up__field-avatar
          input#avatar.visually-hidden.js-file-field(type=`file`, name=`avatar`)
          label(for=`avatar`)
            span.sign-up__text-upload Загрузить аватар…
            span.sign-up__text-another Загрузить другой аватар…
          //- Отправляем имя загруженной картинки, которое переиспользуется, если не выбрана новая
          input(type=`hidden`, name=`picture_uploaded`, value=payload.avatar)
      .form__field.sign-up__field
        input#user-name.js-field(type=`text`, name=`name`, value=payload.name, maxlength=C.MaxValue.EMAIL, pattern=C.USERNAME_PATTERN, required=``)
        label(for=`user-name`) Имя и фамилия
        span Обязательное поле
      +errorMessage(errors.name)
      .form__field.sign-up__field
        input#user-email.js-field(type=`email`, name=`email`, value=payload.email, maxlength=C.MaxValue.EMAIL, required=``)
        label(for=`user-email`) Эл. почта
        span Обязательное поле
      +errorMessage(errors.email)
      .form__field.sign-up__field
        input#user-password.js-field(type=`password`, name=`password`, minlength=C.MinValue.PASSWORD, maxlength=C.MaxValue.PASSWORD, required=``)
        label(for=`user-password`) Пароль
        span Обязательное поле
      +errorMessage(errors.password)
      .form__field.sign-up__field
        input#user-password-again.js-field(type=`password`, name=`passwordRepeated`, minlength=C.MinValue.PASSWORD, maxlength=C.MaxValue.PASSWORD, required=``)
        label(for=`user-password-again`) Пароль еще раз
        span Обязательное поле
      +errorMessage(errors.passwordRepeated)
      button.sign-up__button.btn.btn--medium.js-button(type=`submit`, disabled=``) Создать аккаунт
